body {
    background: #FFFF00;
    color: #000;
}

.bodyText {
	text-align: center;
	margin: 0 auto;
}

.socialMedia {
	height: 50px;
	width: auto;
}

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
}


h1 {
	font-size: 60;
}

h2 {
	font-size: 40;
}

p {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	text-align: center;
}